<h2>Create a new event!</h2></br>

<%= form_with model: @event do |f| %>
    <%= f.label 'Event Title' %>
    <%= f.text_field :title, class: 'form-control col-6 mb-1' %>

    <%= f.label :Description %>
    <%= f.text_area :description, class: 'form-control col-6 mb-1' %>


    <%= f.label 'Event Time (YYYY-MM-DDTMM:SS)' %>
    <%= f.datetime_field :event_time, class: 'form-control col-6 mb-1' %>

    <%= f.submit 'Submit your event', class: 'mt-3 btn btn-primary' %>
<% end %>