<nav class="navbar mb-2">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Private Events", root_path, class: "mx-2" %>
    </div>

    <% if logged_in? %>
      <ul class="nav navbar-right">
        <li>
          <%= link_to new_event_path do%>
            <button class='btn btn-success mx-2'>Create a new event</button>
          <% end %>
        </li>
        <li class='d-flex'><%= link_to @current_user.username, current_user, class: 'mx-2 align-self-center' %>
        <li class='d-flex'><%= link_to "Log out", logout_path, class: "mx-2 align-self-center", method: :delete %></li>
      </ul>
    <% else %>
      <ul class="nav navbar-right ">
        <li><%= link_to "Log in", login_path, class: "mx-2" %></li>
        <li><%= link_to "Sign up", signup_path, class: "mx-2" %></li>
      </ul>
    <% end %>
  </div>
</nav>